################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Firmware/ESP32MIDI/ESP32MIDI/__vm
