################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Firmware/Deprecated/ESP32MIDI/ESP32MIDI/__vm
/Firmware/Deprecated/ESP32MIDI/ESP32MIDI/Debug
/Firmware/Deprecated/ESP32MIDI/ESP32MIDI/Release
/Firmware/Deprecated/ESP32MIDI/.vs/ESP32MIDI/v16
